
.desafios__container, .disciplinas__container {
    background: white;
}

.desafios__title, .disciplinas__title {
    width: 100%;
    margin: 15px 0;
    color: #4a148c;
}

.desafios__title {
    font-size: 1.4rem;
}

.desafios-link {
    text-decoration: none;
    cursor: pointer;
}

.desafios__types {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
    padding: 0;
    list-style-type: none;
}

.desafios__card {
    width: 23%;
    position: relative;
}

.desafios-card__input-radio {
    position: absolute;
    opacity: 0;
    width: 100%;
}

.desafios-card__input-radio:checked + .desafios-card__label {
    border: 5px solid red;
}

.desafios-card__label {
    display: block;
    width: 100%;
    line-height: 3rem;
    padding: 5%;
    -webkit-appearance: none;
    background-image: url("../../img/card-desafio-foguete.png");
    color: white;
    text-transform: uppercase;
}

.disciplina-form__item {
    position: relative;
    display: block;
    width: 100%;
    cursor: pointer;
    box-sizing: border-box;
}


.disciplinas-form-input-radio {
    position: absolute;
    opacity: 0;
}

.disciplinas-form-input-radio:checked + .disciplinas__card::before {
    border-color: green;
}

.disciplinas-form-input-radio:checked + .disciplinas__card {
    /* border: 3px solid rgba(0,0,0, .1); */
    border: 5px solid red;
}

.disciplinas-form-input-radio:checked + .disciplinas__card::before {
	background: red;
}

.disciplinas__card {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 6%;
    margin: 5% 0;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.disciplinas__card::before {
    display: block;
    float: right;
	content: "";
	height: 1rem;
	width: 1rem;
	border: 4px solid white;
	border-radius: 50%;
	/* transition: all 0.25s linear; */
}

.disciplinas__card-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.disciplinas__card-title h2 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.disciplinas__button-add-prof {
    background: white;
    padding: 2% 6%;
}

.disciplinas__button-icon {
    font-size: 1.6rem;
}

.disciplinas__card-resumo {
    font-size: 1rem;
}

.fases-card-title {
    margin: 15px 0;
    padding: 5%;
    border: 1px solid rgba(255,255,255,.5);
    border-radius: 5px;
}

.fases-card {
    display: flex;
    flex-direction: column; 
    min-height: 50px;
    margin-top: 5px;
    padding: 8% 7%;
    border-radius: 5px;
    background-color: white;
    color: grey;
    font-size: .9rem;
}

.fases-button {
    width: 100%;
    margin-top: 9%;
    padding: 2%;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.cadastra-desafio-form__button {
    width: 100%;
    margin-top: 20px;
    background: #4a148c;
    color: white;
}


@media screen and (min-width: 768px) {

    .desafios__container {
        padding: 10%;
    }
    
    .desafios__card {
        text-align: center;
    }

    .disciplinas__container {
        padding: 0;
    }

    .disciplinas-form {
        display: flex;
        flex-wrap: wrap;
    }

    .disciplina-form__item {
        width: 47%;
        margin: 0 1%;
    }

    .disciplinas__card {
        /* margin: 5% 1%; */
        padding: 4%;
    }

    .disciplinas__button-add-prof {
        padding: 2% 8%;
    }

    .cadastra-desafio-form {
        display: block;
        margin: 0 auto;
    }

}

@media screen and (min-width: 992px) {

    .desafios__container {
        width: 100%;
    }
    
    .cadastra-desafio-form {
        width: 100%;
    }

    .disciplinas__container {
        width: 100%;
    }

    .disciplina-form__item {
        width: 30%;
        margin: 0 1%;
    }

}