.form-input {
    padding: 4% 5%;
    border-radius: 10px;
    background: #b39ddb;
    color: white;
    border: none;
    font-size: 0.9rem;
}

.form-input--error {
    border: 2px solid lightcoral !important;
}

.form-input__helper {
    margin: 5px;
    font-size: 0.9rem;
    color: lightcoral;
}