.cadastro__page {
    background: #4a148c;
}

.cadastro__container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 5% 10%;
}

.cadastro__title {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
}

@media screen and (min-width: 768px) {

    .cadastro__container {
        padding: 5% 20%;
        background: white;
    }

    .cadastro__title {
        color: #4a148c;
    }
}

@media screen and (min-width: 992px) {

    .cadastro__container {
        padding: 5% 20%;
        background: white;
    }

    .cadastro__page {
        background: #ccc;
    }
}