
.cadastro__form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cadastro-prof__form-input {
    width: 100%;
    margin: 10px 0;
    font-size: 0.9rem;
}

.cadastro-prof__form-radio {
    display: inline-block;
    margin: 10px 0;
}

.cadastro-prof__form-radio-label {
    color: white;
}

.cadastro-prof__form-radio-label:checked {
    color: #1de9b6;
}

.cadastro-prof__form-select {
    width: 100%;
    margin: 10px 0;
}


.cadastro-prof__form-button {
    width: 80%;
    margin: 110px 0;
}


@media screen and (min-width: 768px) {
    
    .cadastro__form {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .cadastro-prof__form-input {
        width: 38%;
        margin: 10px 5px;
    }

    .cadastro-prof__form-input--1{
        width: 100%;
    }

    .cadastro-prof__form-select {
        width: 48%;
        margin: 10px 5px;
    }


}

