.form-button {
    padding: 4% 5%;
    border-radius: 10px;
    background: white;
    color: #4a148c;
    border: none;
    font-weight: 700;
    font-size: 1.2rem;
}

.form-button--outline {
    border: 2px solid white;
    background: #4a148c;
    color: white;
}

@media screen and (min-width: 768px) {
    .form-button {
        background: #4a148c;
        color: white;
    }

    .form-button--outline {
        border: 2px solid #4a148c;
        background: white;
        color: #4a148c;
    }
}